<table bgcolor='#D6EAF8'>
    <tr>
        <%# width = '10%' %>
        <td width='5%' align='left'> <%= link_to (image_tag 'logo2.png', border: 2,
        size: "100x100"), home_home_path%></td>
        <td width='60%' align='center'><h1>Explosion Games &#x1F4A5;&#x1F3AE;</h1></td>
    </tr>
</table>

<%= link_to 'Home Page', home_home_path %> &nbsp;
<%= link_to 'Administrative Page Login', private_new_path %>

<hr>